@import "../base";

.Why_us_Holder{
    @include flexColumn(center,space-around);
    width: 100%;
    padding: 40px 0;
    .WhyUs_title{
       font-size: 32px;
       font-weight: 600;
    }
    .Cards{
       @include flexRow(center,space-around);
       width: 80%;
       padding-top: 15px;
       
       .WhyUs_Card{
          @include flexColumn(center,space-evenly);
          text-align: center;
          border-radius: 20px;
          padding: 15px;
          width: 30%;
          height: 55vh;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
          img{
             width: 60px;
          }
          .card_title{
             font-size: 18px;
             font-weight: 700;
             padding: 5px 0;
          }
       }
    }
    @include tablet {
       .Cards{
          @include flexColumn(center,space-evenly);
          .WhyUs_Card{
             width:80%;
             margin: 15px 0;
          }
       }
    }
 }
 .Pub_reservation{
    @include flexColumn(center,space-evenly);
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(#00000084, #342c488b, #0000008a), url('../../../public/images/Our-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 120px;
    .title_pub{
       font-size: 32px;
       color: white;
       font-weight: 600;
    }
    .description_pub{
       color: white;
    }
    .submit_pub{
       @include button
    }
 }
 