@import "../base";
.Booking_container{
    @include flexColumn(center, center);
    width: 100%;
    .booking_form{
       @include flexColumn(center, space-around);
       background-color: $adjustment;
       width: 80%;
       padding: 40px 0;
       border-radius: 40px;
       box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
       .options{
          @include flexRow(center, space-around);
          width: 100%;
          div{
             @include flexRow(center, center);
             padding: 20px;
             width: 100%;
             select{
                width: 50%;
                margin: 0 10px ;
             }
             input{
                width: 50%;
                border-radius: 10px;
                border: 0.5px solid gray;
                padding: 10px;
                margin: 0 10px ;
 
             }
          }
       }
       .submit_search{
          @include button;
       }
    }
    .travels_found_container{
      width: 80%;
      padding: 20px;
      .travel_card{
         @include flexColumn(center,center);
         position: relative;
         border-radius: 15px;
         width: 100%;
         box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
         background-color: $secondaryColor;
         padding: 20px;
         margin: 10px;
         color: white;
         .ticket_cut_left_side{
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 50%;
            left: -12px;
            top: 40%;
         }
         .ticket_cut_right_side{
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 50%;
            right: -12px;
            top: 40%;
         }
         .info{
            @include flexRow(center, space-around);
            width: 100%;
            i{
               font-size: 25px;
               color: $mainColor ;
               margin: 10px;
            }
            div{
               padding: 10px;
               border: 1px solid gray;
               border-radius: 10px;

            }
         }
         .price{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
         }
         .submit_travel{
            @include button;
            margin-top: 10px
         }
         @include tablet {
            .info{
               @include flexColumn(center, space-around);
               div{
                  width: 80%;
                  text-align: center;
               }
            }
         }
      }
    }
    @include tablet {
       .booking_form{
          .options{
             @include flexColumn(center, space-around);
             
          }
       }
    }
 }